<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SyncAllEntities</key>
	<true/>
	<key>NeverFormatsRelationships</key>
	<true/>
	<key>DisplayName</key>
	<string>Tongbu</string>
	<key>Type</key>
	<string>server</string>
</dict>
</plist>
